:root {
  --yellow-color: #E0B973;
  --darkblue-color: #14274A;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #E5E5E5;
  color: var(--darkblue-color);
}

body::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

.noscroll {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1550px;
  margin: 0px auto;
  padding: 0px 30px;
}


header::before {
  content: "";
  background: -o-linear-gradient(rgba(20, 39, 74, 0.2), rgba(20, 39, 74, 0.2)), url(../img/1st-bg.png); 
  background: linear-gradient(rgba(20, 39, 74, 0.2), rgba(20, 39, 74, 0.2)), url(../img/1st-bg.png);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 39, 74, 0.2)), to(rgba(20, 39, 74, 0.2))), url(../img/1st-bg.png); 
  width: 100%;
  height: 950px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
}

.inner-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

.inner-nav-logo {
  background-color: var(--yellow-color);
  border-radius: 0 0 60px 60px;
}

.inner-nav-logo img {
  margin: 44px 30px;
}

.inner-nav-navigation {
  margin: auto 0;
  color: #14274A;
}

.inner-nav-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 25px;
  list-style: none;
}

.inner-nav-navigation ul li {
  width: auto;
  margin-left: 5vw;
}

.inner-nav-navigation ul li a {
  line-height: 30px;
  color: white;
  text-decoration: none;
  width: 100%;
}

.awelcomepage-inner {
  height: 700px;
  margin-top: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.awelcomepage-title {
  color: white;
}

.awelcomepage-title h1 {
  font-weight: 400;
  font-size: 50px;
}

.awelcomepage-title h2 {
  font-family: "Garamond", serif;
  font-weight: 700;
  font-size: 154px;
  line-height: 140px;
  letter-spacing: 0.07em;
}

.awelcomepage-title h3 {
  font-family: "Garamond", serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 0.4em;
}

.awelcomepage-title p {
  font-weight: 400;
  font-size: 25px;
}

.awelcomepage-book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.awelcomepage-book a {
  background-color: var(--yellow-color);
  margin: auto;
  padding: 12px 50px;
  color: white;
  font-weight: 700;
  font-size: 25px;
  text-decoration: none;
  border-radius: 1px;
}

.awelcomepage-book a::before {
  content: url(../img/icon-calendarbtn.svg);
  vertical-align: middle;
  margin-right: 18px;
}

.awelcomepage-scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 35px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.awelcomepage-scroll p {
  color: white;
  font-weight: 700;
  font-size: 25px;
  margin: 15px;
}

.awelcomepage-scroll img {
  margin: auto;
}

.roomtypes-inner h1 {
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  margin: 85px 0;
}

.roomtypes-inner-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.roomtypes-inner-card-left {
  width: 38%;
  position: relative;
  margin: auto 0;
}

.roomtypes-inner-card-right {
  width: 50%;
}

.roomtypes-inner-card:first-child .roomtypes-inner-card-left::before {
  content: "";
  width: 2px;
  height: 335px;
  background-color: var(--darkblue-color);
  position: absolute;
  left: -50px;
  top: 25px;
}

.roomtypes-inner-card:last-child .roomtypes-inner-card-left::before {
  content: "";
  width: 2px;
  height: 430px;
  background-color: var(--darkblue-color);
  position: absolute;
  left: -50px;
  top: 25px;
}

.roomtypes-inner-card-left h1 {
  margin: 0 0 30px 0;
  text-align: left;
  font-family: "Garamond", serif;
  font-size: 60px;
  font-weight: 700;
}

.roomtypes-inner-card-left p {
  margin-bottom: 30px;
  font-size: 25px;
  -webkit-text-stroke: var(--darkblue-color) 1px;
}

.roomtypes-inner-card-left button {
  background-color: var(--yellow-color);
  padding: 20px 50px;
}

.roomtypes-inner-card-left button a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  -webkit-text-stroke: white 1px;
}

.testimonials-inner {
  padding-top: 45px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials-inner-content {
  width: 90%;
}

.testimonials-inner h1 {
  font-family: "Garamond", serif;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 10px;
}

.testimonials-inner p {
  font-weight: 400;
  font-size: 30px;
  -webkit-text-stroke: var(--darkblue-color) 0.3px;
  margin-bottom: 19px;
}

.testimonials-inner p1 {
  font-size: 25px;
}

.testimonials-inner-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
}

.testimonials-inner-buttons a:last-child {
  margin-left: 20px;
}

footer {
  background: url(../img/footer-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 340px;
}

.footer-inner {
  padding-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #E5E5E5;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-inner-address img {
  margin-bottom: 20px;
}

.footer-inner-address p {
  font-size: 14px;
}

.footer-inner a {
  color: white;
  text-decoration: none;
}

.footer-inner-info ul {
  list-style: none;
}

.footer-inner-info ul li {
  font-size: 16px;
  -webkit-text-stroke: white 0.5px;
  margin-bottom: 20px;
}

.footer-inner-social-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-text-stroke: white 0.5px;
}

.footer-inner-social-card img {
  width: 19px;
  height: 19px;
}

.footer-inner-social-card a {
  margin-left: 10px;
}

.footer-inner-newsletter h1 {
  font-size: 16px;
  margin-bottom: 30px;
}

.footer-inner-newsletter input {
  -webkit-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  background-color: rgba(255, 255, 255, 0);
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, rgba(255, 255, 255, 0.2)), color-stop(0, transparent));
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0.2) 10%, transparent 0);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.2) 10%, transparent 0);
  background-size: 0%;
  background-repeat: no-repeat;
  border: var(--yellow-color) 2px solid;
  height: 50px;
  color: white;
  font-size: 16px;
  -webkit-text-stroke: white 0.5px;
  padding: 0 20px;
}

.footer-inner-newsletter input:hover,.footer-inner-newsletter input:focus{
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0.2) 10%, transparent 10);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.2) 10%, transparent 10);
  background-size: 1000%;
}

.footer-inner-newsletter button {
  background-color: var(--yellow-color);
  height: 50px;
  padding: 0 25px;
  margin-left: -5px;
}

/* swiper */

.swiper {
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #E5E5E5;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "" !important;
}

.swiper-button-prev,
.swiper-button-next {
  height: 50px !important;
  width: 50px !important;
}

.swiper-button-prev img,
.swiper-button-next img {
  width: 100%;
  height: 100%;
}

.review {
  width: 100%;
  height: 200px;
  padding-bottom: 40px;
  background-color: #E5E5E5;
}

.last-swiper-buttons {
  height: 40px !important;
  width: 40px !important;
  opacity: 0.6;
}

.last-swiper-buttons.swiper-button-prev {
  left: 45%;
  top: 75%;
}

.last-swiper-buttons.swiper-button-next {
  right: 45%;
  top: 75%;
}

@font-face {
  font-family: CormorantGaramond;
  font-display: swap;
  src: url("../fonts/CormorantGaramond-Bold.woff2") format("woff2"), url("../fonts/CormorantGaramond-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.facilities {
  text-align: center;
}

.facilities h1 {
  font-family: "Adobe Garamond Pro";
  font-weight: 700;
  font-size: 60px;
  margin-top: 80px;
}

.facilities p {
  font-size: 25px;
  margin: 30px 0px 80px 0px;
  -webkit-text-stroke: 0.5px;
}

.facilities .facilitities-inner-card {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 93px 0;
}

.facilities .facilitities-inner-card .text {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #e5e5e5;
  text-align: center;
  width: 50%;
  padding-top: 16px;
}

.facilities .facilitities-inner-card .text p {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 48px;
  margin: 0px 0px;
}

.rooms {
  text-align: center;
}

.rooms h1 {
  font-family: "Adobe Garamond Pro";
  font-weight: 700;
  font-size: 60px;
  margin-top: 80px;
}

.rooms p {
  font-size: 25px;
  margin: 30px 0px 80px 0px;
  -webkit-text-stroke: 0.5px;
}

.rooms .rooms-card {
  border: 2px solid #14274A;
  border-radius: 0px 0px 15px 15px;
  margin: 40px 0;
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.rooms .rooms-card h1 {
  background-color: var(--darkblue-color);
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 60px;
  padding: 41px 0;
  margin: 0;
}

.rooms .rooms-card .rooms-card-bottom-bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 235px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: auto;
}

.rooms .rooms-card .rooms-card-bottom-bot .details {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rooms .rooms-card .rooms-card-bottom-bot .details .details-spoiler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rooms .rooms-card .rooms-card-bottom-bot .details a {
  margin-left: 40px;
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  color: var(--darkblue-color);
  text-decoration: none;
}

.rooms .rooms-card .rooms-card-bottom-bot .price a {
  font-weight: 700;
  font-size: 25px;
  color: white;
  background: var(--yellow-color);
  border-radius: 1px;
  padding: 24px 44px;
  text-decoration: none;
}

.rooms-card-bottom .additional-text {
  font-size: 24px;
  padding: 0 0;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  max-height: 0px;
  overflow: hidden;
}

.rooms-card-bottom .additional-text.active {
  opacity: 1;
  padding: 50px 5%;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  overflow: auto;
  border-top: var(--darkblue-color) 2px solid;
}

header.contact::before {
  background: var(--darkblue-color);
  height: 400px;
}

.title h1 {
  color: white;
  font-weight: 700;
  font-size: 80px;
  text-align: center;
  margin-top: 30px;
}

.contact-form {
  margin-top: 250px;
}

.contact-form .title {
  margin-bottom: 167px;
}

.contact-form .title h1 {
  text-align: left;
  color: var(--darkblue-color);
  font-family: "Garamond", serif;
}

.contact-form .title p {
  font-size: 30px;
}

.contact-form-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 200px;
}

.contact-form-cards .contact-form-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-form-cards .contact-form-card:first-child {
  width: 44%;
}

.contact-form-cards .contact-form-card p {
  font-size: 40px;
}

.contact-form-cards .contact-form-card a {
  font-size: 40px;
  color: var(--darkblue-color);
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-form-cards .contact-form-card a:nth-child(2) {
  font-weight: 700;
  margin: 25px 0 45px 0;
}

.contact-form-cards .contact-form-card a:nth-child(2)::after {
  content: "";
  background-image: url(/img/icon-arrowright.svg);
  background-repeat: no-repeat;
  width: 81px;
  height: 40px;
  margin: auto 5px;
}

.contact-form-cards .contact-form-card .submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.contact-form-cards .contact-form-card:last-child {
  width: 40%;
}

.contact-form-cards .contact-form-card:last-child p {
  font-size: 25px;
  margin-top: 30px;
  -webkit-text-stroke: 0.3px var(--darkblue-color);
  font-size: 15px;
}

.contact-form-cards .contact-form-card:last-child input {
  height: 78px;
  width: 100%;
  font-size: 25px;
  padding: 20px;
}

.contact-form-cards .contact-form-card:last-child textarea {
  width: 100%;
  height: 400px;
  resize: vertical;
  padding: 20px;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  font-size: 25px;
}

.contact-form-cards .contact-form-card:last-child button {
  color: white;
  margin-top: 52px;
  height: 78px;
  display: inline-block;
  width: 25%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-weight: 700;
  font-size: 25px;
  background-color: var(--yellow-color);
  border-radius: 1px;
}

@media screen and (min-width: 1900px) {
  footer {
    height: 430px;
  }
}

.webp header::before { background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 39, 74, 0.2)), to(rgba(20, 39, 74, 0.2))), url(../img/1st-bg.webp); }

.webp header::before { background: -o-linear-gradient(rgba(20, 39, 74, 0.2), rgba(20, 39, 74, 0.2)), url(../img/1st-bg.webp); }

.webp header::before { background: linear-gradient(rgba(20, 39, 74, 0.2), rgba(20, 39, 74, 0.2)), url(../img/1st-bg.webp); }